html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.cursor:hover {
  background-color: #CFF2F2;
}

.cursor {
  background-color: yellow;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}


body {
  font-family: helvetica;
  background: #eee;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}


label {
  display: inline-block;
  background: gray;
  margin: 25px;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#li {
  ~ body {
    cursor: url("cursors/li.png"), url(myBall.cur), auto;
  }
  &:checked ~ .option-happy {
  background: green;
  }
}
/*
#sad {
  ~ .option-sad {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
  }
  &:checked ~ .option-sad {
    background: red;
  }
}

#meh {
  body{
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;
  }
  &:checked ~ .option-meh {
    background: orange;
  }
}
*/