html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: auto auto;
  padding: 4px;
  font-size: 1.5em;
  cursor: pointer;
}

.cursor:hover {
  background-color: #CFF2F2;
}

.cursor {
  background-color: yellow;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}
