html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.button:hover {
  font-size: 2em;
}

.reset:hover {
  color: red;
}
