html, body {
  width: 100px;
  height: 100%;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.emoji:hover {
  background-color: #CFF2F2;
}

.emoji {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}

body {
  cursor: url('http://lorempixel.com/20/20/'), default;
}